/* COMMON STYLES STARTS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}
/* COMMON STYLES ENDS */

body h2, body p {
    padding: 10px;
}

.container {
    width: 100%;
    display: flex;
    color: #000;
    margin: 15px;
}

.container .left {
    flex-basis: 30%;
    border: 2px solid #764abc;
    background-color: #c7b5e3;
}

.container .right {
    flex-basis: 70%;
    border: 2px solid #764abc;
    border-left: none;
    background-color: #e3daf1;
}

.container .left li {
    list-style: none;
}

.container .left a {
    text-decoration: none;
    color: #000;
    display: block;
}

.container .left a:hover {
    background-color: #eee;
}

.container .left input {
    padding: 12px 12px 12px 15px;
    width: 100%;
    outline: 0;
    border: 0;
    font-size: 14px;
}

/* .container .left, .container .right {
    padding: 15px 0px;
} */

.container .left a {
    padding: 15px;
}

.container .right p {
    padding: 15px;
}

.container .left h2, .container .right h2 {
    padding: 35px 15px 15px 15px;
}