/* COMMON STYLES STARTS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}
/* COMMON STYLES ENDS */

/* Sets the width of the accordion container */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .button {
    border: 2px solid #764abc;
    color: #764abc;
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 35px;
    font-size: 20px;
    position: relative;
    overflow: hidden;
}

.container .button::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #764abc;
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    transition: all 1s ease;
}

.container .button:hover {
    color: #fff;
}

.container .button:hover::before {
    transform: translateX(0);
}